%section.-container
  %h1 Welcome!
  %h2 Setting up your profile has three steps.
  %p Syncing your repositories will pull down your github repos and save them to your user.
  %p Build/Edit your profile will create a private profile of the information you enter.
  %p Publish your profile will make it available to the general public and can be deactivated any time.    
  %h2 Nightly Updates
  %p
    Your profile will continue to self update with Github data on a daily basis.
    Please be patient for automaticly occuring changes to apply.

  - if can_sync?
    %h2 Sync Your Repositories To Start Setting Up Your Portfolio Page!
    = link_to 'Sync Repositories', user_sync_repos_path(current_user), class: 'button -constructive', method: 'patch'

  - if can_build?
    %h2 Build Your Portfolio Site!
    = link_to 'Build Your Profile', new_profile_path, class: 'button -constructive'

  - if can_edit?
    %h2 Edit Your Portfolio Site
    %a{href: edit_profile_path(current_user.profile), class: 'button -constructive'}
      Edit Your Profile
    - if current_user.profile.published
      %h2 Deactivate Your Portfolio Site
      = link_to 'Deactivate Your Profile', profile_deactivate_path(current_user.profile), class: 'button -destructive', method: 'patch'
    - else
      %h2 Publish Your Portfolio Site
      = link_to 'Publish Your Profile', profile_publish_path(current_user.profile), class: 'button -constructive', method: 'patch'
