%section.-container
  %h1 Welcome!

  - if can_sync?
    %h2 Sync Your Repositories To Start Setting Up Your Portfolio Page!
    = link_to 'Sync Repositories', user_sync_repos_path(current_user), class: 'button -constructive', method: 'patch'

  - if can_build?
    %h2 Build Your Portfolio Site!
    = link_to 'Build Your Profile', new_profile_path, class: 'button -constructive'

  %h2 Nightly Updates
  %p
    Your profile will continue to self update with Github data on a daily basis.
    Please be patient for automaticly occuring changes to apply.

  %h2 Future Features
  %ul
    %li Language Blacklisting
    %li Github Style URLs
    %li Selectable Themes
    %li Profile Picture Uploading
