$black:           #222222;
$grey:            #999999;
$white:           #ECF0F1;

$blue_dark:       #124b6a;
$blue_dark_hover: #155578;

$blue:            #2587bc;

$green:           #23bc67;
$green_hover:     #26c96e;

$red:             #ba2323;
$red_hover:       #c93030;
