.form {
  width: 1100px;
  margin: 0 auto;
  padding: 30px;

  form {
    label, input {
      display: block;
    }

    label {
      color: $white;
      margin: 20px 0 10px 0;
    }

    input[type='text'] {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      border: none;
      background-color: $white;
      color: $black;
    }
  }
}
