@import 'colors';

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $white;
  content: '';
  background-image: url(image-path('textured_paper.png'));
  z-index: -1;
}

.clearfix {
  clear: both;
}
