@import "colors";

nav.navbar {
  background-color: $blue;
  font-size: 12px;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px $black;

  ul {
    display: inline-block;

    &.left  { float: left;  }
    &.right { float: right; }

    li {
      list-style-type: none;
      color: $white;
      display: inline;
      margin: 0 5px;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
